src/*.js
src/*.js.map
*.log
!scripts/*.js
node_modules
demo/app/*.js
demo/*.d.ts
demo/lib
demo/hooks
demo/platforms
demo/package-lock.json
src/package-lock.json
publish/src
publish/package
publish/package-lock.json
.idea/
\.idea/*
\.idea/deployment.xml
.DS_Store